* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background-color: #f6f6f6;
}

.page {
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
}

.wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.page-header {
	margin-bottom: 75px;
}

.title {
	font-size: 35px;
	line-height: 25px;
	font-weight: 700;
	text-transform: uppercase;
	color: #666666;
}

.products {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	max-width: 1176px;
	flex-wrap: wrap;
}

.product-item {
	display: flex;
	flex-direction: column;
}

.product-item__img {
	width: 276px;
	height: 250px;
	margin-bottom: 30px;
}

.product-item_subtitle {
	margin-bottom: 29px;
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	color: #666666;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.buttons__about_outline {
	width: 133px;
	height: 41px;
	border: 2.0px solid #66cc66;
	background-color: transparent;
	font-size: 14px;
	line-height: 25px;
	font-weight: 700;
	text-transform: uppercase;
	color: #66cc66;
	cursor: pointer;
}

.buttons__buy-green {
	width: 133px;
	height: 41px;
	background-color: #66cc66;
	border: 1px solid transparent;
	font-size: 14px;
	line-height: 25px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
}


/* Раздел с медиа запросами */

/* Ставим объекты по центру, уменьшаем расстояние до заголовка */
@media (min-width: 320px) and (max-width: 480px) {
	.products {
		justify-content: space-around;
	}
	.product-item {
		margin-bottom: 20px;
	}
	.page-header {
		margin-bottom: 10px;
	}
}

@media (min-width: 480px) and (max-width: 1104px){
	.products {
		justify-content: space-around;
	}
	.product-item{
		margin-bottom: 20px;
	}
	.page-header {
		margin-bottom: 20px;
	}
}









