@media screen and (max-width: 1400px)
	.nav
		&__item
			margin-right: 2rem
@media screen and (max-width: 1200px)
	html
		font-size: 12px
	.nav
		&__item
			margin-right: 1rem
@media screen and (max-width: 992px)
	.nav
		display: none
	.hero
		&__instagram
			display: none
		&__content
			margin-left: 0
@media screen and (max-width: 576px)
	.container
		margin-top: 0
	.contacts
		&__phone
			margin-right: 0
			color: $light
			text-decoration: none
		&__button
			display: none
	.title
    font-size: 1.94rem
    font-weight: 500
	.hero
		&__scroll-down
			display: none
		&__content
			max-width: 27rem
			margin-top: 47.8px
		&__text
    font-size: 1.49rem
    margin-bottom: 2.48rem
    line-height: 144.1%
    word-spacing: 0.01rem
		&__button
    display: block
    min-width: 28.2rem
    min-height: 4.3rem
    margin-bottom: 2.15rem
    font-size: 1.1rem

@media screen and (max-width: 349px)
	.hero__button
		min-width: 22.86rem
@media screen and (max-height: 556px)
	.hero
		&__scroll-down
			display: none