@media screen and (max-width: 1400px)
	.nav
		&__item
			margin-right: 2rem
@media screen and (max-width: 1200px)
	html
		font-size: 12px
	.nav
		&__item
			margin-right: 1rem
@media screen and (max-width: 992px)
	.nav
		display: none
	.hero
		&__instagram
			display: none
		&__content
			margin-left: 0
@media screen and (max-width: 760px)
	.section
		&-title
			&__description
				max-width: 21.86rem
	.row
		flex-direction: column
		align-items: center
	.types
		&__card
			margin-bottom: 4.29rem
	.card
		&__text
			margin-left: 0
	.design
		background-color: $dark
		&__section-title
			color: $light
		&__card
			margin-bottom: 5.7rem
@media screen and (max-width: 576px)
	.container
		width: 90%
	.contacts
		&__phone
			margin-right: 0
			color: $light
			text-decoration: none
		&__button
			display: none
	.title
    font-size: 1.94rem
    font-weight: 500
	.hero
		&__scroll-down
			display: none
		&__title
			max-width: 27rem
		&__content
			margin-top: 47.8px
		&__text
    font-size: 1.49rem
    margin-bottom: 2.48rem
    line-height: 144.1%
    word-spacing: 0.01rem
    max-width: 26.6rem
		&__button
    	display: block
    	min-width: 27rem
    	min-height: 4.3rem
    	margin-bottom: 2.15rem
    	font-size: 1.1rem
    	width: 100%
	.section-title
		&__heading 
    	margin-bottom: 1.2rem
    	font-size: 1.77rem
    	font-weight: 500
    	line-height: 138.6%
		&__description
			font-size: 1.25rem
			margin-top: 1.6rem
			text-align: center
			max-width: 306px
			max-height: 76px
			margin-bottom: 0.8rem
	.returnButton
		margin: 0
		width: 100%
		background: $dark
		&:after
			border: none
			margin-left: unset
			border-radius: unset
			width: 100%



@media screen and (max-width: 350px)
	.hero__button
		min-width: 22.86rem
	.hero__text
		max-width: 22.4rem
@media screen and (max-width: 320px)
	.card__text
		max-width: 19.6rem
@media screen and (max-height: 556px)
	.hero
		&__scroll-down
			display: none
