* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f6f6f6;
}

.section {
	display: flex;
	max-width: 1009px;
	max-height: auto;
	width: 90%;
	padding: 64px 93px 64px 48px;
	transform: translate(-50%, -50%);
	position: absolute; 
	top: 50%; 
	left: 50%;
	border: 0.7px solid #d7d7d7;
	background-color: #ffffff;
}

.img {
	display: inline-block;
	width: 100%;
}

img {
	width: 100%;
}

.text {
	display: inline-block;
	padding-left: 10%;
	width: 100%;
}

.header {
	margin-top: 4%;
	margin-bottom: 9%;
	font-family: sans-serif;
	font-size: 22.5px;
	color: #2f2f2f;
}

.description {
	margin-bottom: 15%;
	font-family: sans-serif;
	font-size: 15px;
	color: #2f2f2f;
}

.price-name {
	margin-bottom: 5%;
	font-family: sans-serif;
	font-size: 15px;
	color: #2f2f2f;
}

.price {
	font-family: sans-serif;
	font-size: 30px;
	color: #2f2f2f;
}

.button-buy {
	margin-top: 18%;
	padding: 0;
	width: 252px;
	height: 50px;
	background-color: #ec744a;
	border: 1px solid #ec744a;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 19px;
	font-weight: 400;
	cursor: pointer;
}